<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.api.v2.facturacionmagento.persistence.promociones.PromocionesMapper">

  <select id="getIdPromotionType" resultType="java.lang.Long">
  	SELECT id_tipo_promocion
  	FROM d_promociones_cab_tbl
  	WHERE uid_actividad = #{uid_actividad, jdbcType=VARCHAR} AND id_promocion = #{id_promocion, jdbcType=DECIMAL};
  </select>
  <select id="getPromocion" resultType="com.comerzzia.api.v2.facturacionmagento.persistence.promociones.PromocionBean">
  	SELECT id_promocion, id_tipo_promocion, tipo_dto, descripcion, exclusiva 
  	FROM d_promociones_cab_tbl
  	WHERE uid_actividad = #{uid_actividad, jdbcType=VARCHAR} AND id_promocion = #{id_promocion, jdbcType=DECIMAL};
  </select>
</mapper>
