<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.api.v2.facturacionmagento.persistence.mediospago.MediosPagoMapper">
  <resultMap id="ResultMap" type="com.comerzzia.pos.persistence.mediosPagos.MedioPagoBean">
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="CODMEDPAG" property="codMedioPago" jdbcType="VARCHAR" />
    <result column="DESMEDPAG" property="desMedioPago" jdbcType="VARCHAR" />
    <result column="CONTADO" property="contado" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="EFECTIVO" property="efectivo" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="TARJETA_CREDITO" property="tarjetaCredito" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="CODTIPOEFEC" property="codTipoEfecto" jdbcType="VARCHAR" />
    <result column="VISIBLE_VENTA" property="visibleVenta" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="VISIBLE_TIENDA_VIRTUAL" property="visibleTiendaVirtual" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="VISIBLE_COMPRA" property="visibleCompra" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="ACTIVO" property="activo" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="MANUAL" property="manual" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="RECUENTO_AUTOMATICO_CAJA" property="recuentoAutomaticoCaja" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="CLASE_CONTROL" property="claseControl" jdbcType="VARCHAR" />
    <result column="VISIBLE_DEVOLUCION" property="visibleDevolucion" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
  </resultMap>
  <select id="selectByCod" resultMap="ResultMap">
  	SELECT *
	FROM d_medios_pago_tbl 
	WHERE uid_actividad = #{uid_actividad, jdbcType=VARCHAR} and codmedpag = #{cod_medio_pago, jdbcType=VARCHAR};
  </select>
</mapper>