<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.comerzzia.api.v2.facturacionmagento.persistence.contadores.rangos.ConfigContadorRangosMapper">
	<resultMap id="BaseResultMap"
		type="com.comerzzia.pos.persistence.core.config.configcontadores.rangos.ConfigContadorRangoBean">
		<id column="ID_CONTADOR" property="idContador" jdbcType="VARCHAR" />
		<id column="ID_RANGO" property="idRango" jdbcType="VARCHAR" />
		<result column="RANGO_DESCRIPCION" property="rangoDescripcion" jdbcType="VARCHAR" />
		<result column="RANGO_INICIO" property="rangoInicio" jdbcType="DECIMAL" />
		<result column="RANGO_FIN" property="rangoFin" jdbcType="DECIMAL" />
		<result column="RANGO_AVISO" property="rangoAviso" jdbcType="DECIMAL" />
		<result column="RANGO_AVISO_INTERVALO" property="rangoAvisoIntervalo" jdbcType="DECIMAL" />
		<result column="RANGO_ULTIMO_AVISO" property="rangoUltimoAviso" jdbcType="DECIMAL" />
		<result column="RANGO_FECHA_INICIO" property="rangoFechaInicio" jdbcType="TIMESTAMP" />
		<result column="RANGO_FECHA_FIN" property="rangoFechaFin" jdbcType="TIMESTAMP" />
		<result column="RANGO_FECHA_AVISO" property="rangoFechaAviso" jdbcType="TIMESTAMP" />
		<result column="RANGO_FECHA_AVISO_INTERVALO" property="rangoFechaAvisoIntervalo" jdbcType="DECIMAL" />
		<result column="RANGO_FECHA_ULTIMO_AVISO" property="rangoFechaUltimoAviso" jdbcType="TIMESTAMP" />
		<result column="CODEMP" property="codemp" jdbcType="VARCHAR" />
		<result column="CODALM" property="codalm" jdbcType="VARCHAR" />
		<result column="CODCAJA" property="codcaja" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID_CONTADOR, ID_RANGO, RANGO_DESCRIPCION, RANGO_INICIO, RANGO_FIN, RANGO_AVISO,
		RANGO_AVISO_INTERVALO,
		RANGO_ULTIMO_AVISO, RANGO_FECHA_INICIO, RANGO_FECHA_FIN, RANGO_FECHA_AVISO,
		RANGO_FECHA_AVISO_INTERVALO,
		RANGO_FECHA_ULTIMO_AVISO, CODEMP, CODALM, CODCAJA
	</sql>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.comerzzia.pos.persistence.core.config.configcontadores.rangos.ConfigContadorRangoExample"
		resultSetType="SCROLL_INSENSITIVE">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from CONFIG_CONTADORES_RANGOS_TBL
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
</mapper>