<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.api.v2.facturacionmagento.persistence.tiendas.TiendasMapper">
  <resultMap id="ResultMap" type="com.comerzzia.omnichannel.model.documents.sales.ticket.cabecera.Tienda">
    <result property="codAlmacen" jdbcType="VARCHAR" column="codalm"/>
    <result property="cp" jdbcType="VARCHAR" column="cp"/>
    <result property="desAlmacen" jdbcType="VARCHAR" column="desalm"/>
    <result property="domicilio" jdbcType="VARCHAR" column="domicilio"/>
    <result property="idTratamientoImpuestos" jdbcType="BIGINT" column="id_trat_impuestos"/>
    <result property="poblacion" jdbcType="VARCHAR" column="poblacion"/>
    <result property="provincia" jdbcType="VARCHAR" column="provincia"/>
    <result property="telefono1" jdbcType="VARCHAR" column="telefono1"/>
    <result property="telefono2" jdbcType="VARCHAR" column="telefono2"/>
    <result property="fax" jdbcType="VARCHAR" column="fax"/>
</resultMap>

  <resultMap id="ResultMapPagoDefecto" type="com.comerzzia.omnichannel.model.documents.sales.ticket.pagos.PagoTicket">
    <result property="codMedioPago" jdbcType="VARCHAR" column="codmedpag_por_defecto"/>
    <result property="desMedioPago" jdbcType="VARCHAR" column="desmedpag"/>
</resultMap>

  <select id="selectById" resultMap="ResultMap">
  	SELECT a.codalm, a.cp, a.desalm, a.domicilio, c.id_trat_impuestos, a.poblacion, a.provincia, a.telefono1, a.telefono2, a.fax 
	FROM d_almacenes_tbl a 
	INNER JOIN d_clientes_tbl c on (a.uid_actividad = c.uid_actividad and a.codalm = c.codcli)
	WHERE a.uid_actividad = #{uid_actividad, jdbcType=VARCHAR} and a.codalm = #{idTienda, jdbcType=VARCHAR};
  </select>

  <select id="selectMedioPagoDefecto" resultMap="ResultMapPagoDefecto">
  	SELECT a.codmedpag_por_defecto, desmedpag
	FROM d_tiendas a 
	WHERE a.uid_actividad = #{uid_actividad, jdbcType=VARCHAR} and a.codalm = #{idTienda, jdbcType=VARCHAR};
  </select>
</mapper>
