<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.api.v2.facturacionmagento.persistence.clientes.ClientesMapper">
  <resultMap id="ClienteResultMap" type="com.comerzzia.omnichannel.model.documents.sales.ticket.cabecera.ClienteBean">
    <result property="codCliente" jdbcType="VARCHAR" column="codcli"/>
    <result property="desCliente" jdbcType="VARCHAR" column="descli"/>
    <result property="nombreComercial" jdbcType="VARCHAR" column="nombre_comercial"/>
    <result property="domicilio" jdbcType="VARCHAR" column="domicilio"/>
    <result property="poblacion" jdbcType="VARCHAR" column="poblacion"/>
    <result property="provincia" jdbcType="VARCHAR" column="provincia"/>
    <result property="cp" jdbcType="VARCHAR" column="cp"/>
    <result property="telefono1" jdbcType="VARCHAR" column="telefono1"/>
    <result property="telefono2" jdbcType="VARCHAR" column="telefono2"/>
    <result property="fax" jdbcType="VARCHAR" column="fax"/>
    <result property="codpais" jdbcType="VARCHAR" column="codpais"/>
    <result property="personaContacto" jdbcType="VARCHAR" column="persona_contacto"/>
    <result property="email" jdbcType="VARCHAR" column="email"/>
    <result property="cif" jdbcType="VARCHAR" column="cif"/>
    <result property="idTratImpuestos" jdbcType="BIGINT" column="id_trat_impuestos"/>
    <result property="codtar" jdbcType="VARCHAR" column="codtar"/>
    <result property="codsec" jdbcType="VARCHAR" column="codsec"/>
    <result property="banco" jdbcType="VARCHAR" column="banco"/>
    <result property="bancoDomicilio" jdbcType="VARCHAR" column="banco_domicilio"/>
    <result property="bancoPoblacion" jdbcType="VARCHAR" column="banco_poblacion"/>
    <result property="ccc" jdbcType="VARCHAR" column="ccc"/>
    <result property="localidad" jdbcType="VARCHAR" column="localidad"/>
    <result property="tipoIdentificacion" jdbcType="VARCHAR" column="codtipoiden"/>
    <result property="idGrupoImpuestos" jdbcType="INTEGER" column="id_grupo_impuestos"/>
    <association property="datosFactura" resultMap="DatosFacturaResultMap"/>
</resultMap>

<resultMap id="DatosFacturaResultMap" type="com.comerzzia.omnichannel.model.documents.sales.ticket.cabecera.DatosFactura">
    <result property="nombre" jdbcType="VARCHAR" column="descli"/>
    <result property="domicilio" jdbcType="VARCHAR" column="domicilio"/>
    <result property="poblacion" jdbcType="VARCHAR" column="poblacion"/>
    <result property="provincia" jdbcType="VARCHAR" column="provincia"/>
    <result property="localidad" jdbcType="VARCHAR" column="localidad"/>
    <result property="tipoIdentificacion" jdbcType="VARCHAR" column="codtipoiden"/>
    <result property="pais" jdbcType="VARCHAR" column="codpais"/>
    <result property="cp" jdbcType="VARCHAR" column="cp"/>
    <result property="telefono" jdbcType="VARCHAR" column="telefono1"/>
    <result property="cif" jdbcType="VARCHAR" column="cif"/>
    <result property="banco" jdbcType="VARCHAR" column="banco"/>
    <result property="bancoDomicilio" jdbcType="VARCHAR" column="banco_domicilio"/>
    <result property="bancoPoblacion" jdbcType="VARCHAR" column="banco_poblacion"/>
    <result property="ccc" jdbcType="VARCHAR" column="ccc"/>
</resultMap>

  <select id="selectByCif" resultMap="ClienteResultMap">
  	SELECT cli.codcli, cli.descli, cli.nombre_comercial, cli.domicilio, cli.poblacion, cli.provincia, cli.cp, cli.telefono1, cli.telefono2, cli.fax, cli.codpais, cli.persona_contacto, cli.email, cli.cif, cli.id_trat_impuestos, cli.codtar, cli.codsec, cli.banco, cli.banco_domicilio, cli.banco_poblacion, cli.ccc, cli.localidad, cli.codtipoiden, imp.id_grupo_impuestos
	FROM d_clientes_tbl cli
	JOIN d_imp_grupos_tbl imp ON cli.uid_actividad = imp.uid_actividad
	WHERE cli.uid_actividad = #{uid_actividad, jdbcType=VARCHAR} and cli.cif = #{cif, jdbcType=VARCHAR}
	ORDER BY imp.vigencia_desde DESC
	LIMIT 1;
  </select>
  
  <select id="selectByCod" resultMap="ClienteResultMap">
  	SELECT cli.codcli, cli.descli, cli.nombre_comercial, cli.domicilio, cli.poblacion, cli.provincia, cli.cp, cli.telefono1, cli.telefono2, cli.fax, cli.codpais, cli.persona_contacto, cli.email, cli.cif, cli.id_trat_impuestos, cli.codtar, cli.codsec, cli.banco, cli.banco_domicilio, cli.banco_poblacion, cli.ccc, cli.localidad, cli.codtipoiden, imp.id_grupo_impuestos
	FROM d_clientes_tbl cli
	JOIN d_imp_grupos_tbl imp ON cli.uid_actividad = imp.uid_actividad
	WHERE cli.uid_actividad = #{uid_actividad, jdbcType=VARCHAR} and cli.codcli = #{codCli, jdbcType=VARCHAR}
	ORDER BY imp.vigencia_desde DESC
	LIMIT 1;
  </select>
  
  <select id="selectTaxGroup" resultType="INTEGER">
  	SELECT id_grupo_impuestos
  	FROM d_imp_grupos_tbl
  	WHERE uid_actividad = #{uid_actividad, jdbcType=VARCHAR}
  	ORDER BY vigencia_desde DESC
  	LIMIT 1;
  </select>
</mapper>