<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.api.v2.facturacionmagento.persistence.documentos.PropiedadesTiposDocumentoMapper">
  <resultMap id="ResultMap" type="com.comerzzia.core.model.tiposdocumentos.prop.TipoDocumentoPropBean">
    <result column="uid_actividad" jdbcType="VARCHAR" property="uidActividad" />
    <result column="id_tipo_documento" jdbcType="BIGINT" property="idTipoDocumento" />
    <result column="propiedad" jdbcType="VARCHAR" property="propiedad" />
    <result column="valor" jdbcType="VARCHAR" property="valor" />
  </resultMap>
  <select id="selectById" resultMap="ResultMap">
  	SELECT *
	FROM d_tipos_documentos_prop_tbl  
	WHERE uid_actividad = #{uid_actividad, jdbcType=VARCHAR} and id_tipo_documento = #{idTipoDocumento, jdbcType=BIGINT};
  </select>
</mapper>